# Object files
*.o
# Editor backups and recovery files
*~
\#*#
# build directories
*.386-x/**
*.386/**
*.sparc-x/**
*.sparc/**
*.x86_64-x/**
*.x86_64/**
*.armv7l-x/**
*.armv7l/**
init.386/**
# core files
core
*.core