[submodule "maiko"]
	path = maiko
	url = https://github.com/Interlisp/maiko
	branch = master
[submodule "notecards"]
	path = notecards
	url = https://github.com/Interlisp/notecards
	branch = main
[submodule "loops"]
	path = loops
	url = https://github.com/Interlisp/loops
	branch = main
[submodule "test"]
	path = test
	url = https://github.com/Interlisp/test
	branch = master
[submodule "online"]
	path = online
	url = https://github.com/Interlisp/online
	branch = main
