# Denote all files that are truly binary and should not be modified.
*.tedit binary
*.lcom binary
*.sketch binary
*.dfasl binary
*.TEDIT binary
*.LCOM binary
*.SKETCH binary
*.DFASL binary
# MTH: Dummy change for testing change to GITFNS to notice changes to files with ".git" in the full filename
