# loadup interim steps

tmp/*

# releases directory
releases/*


# all loadup files 

loadups/exports.all
library/RDSYS*
loadups/lisp.sysout
loadups/full.sysout
loadups/*.dribble
loadups/whereis.hash
loadups/apps.sysout
loadups/fuller.database

# manual cross-reference files

*.IMPTR

#compiled code -- leave in for now

# *.lcom
# *.LCOM
# *.dfasl
# *.DFASL

# older versions

*~

# emacs detritus
*\#
\.\#*

# core files

core

# Mac OS detritus
.DS_Store
*.PS

# nano detritus
*.swp
*.save

